/*start backend style by amr Mohsen v1 .0*/

/* start index login page  */
.login i{
    position: absolute;
    top: 18.5px;
}
.form-error{
    color: red;
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 5px;
}
/* end index login page  */

/* start dashboard */
.search-bar{
    position: absolute;
    top: 23%;
}
.latest-registerd{
    padding: 7px;
}
/* end dashboard */


/* start mange Members  */
.mange-table table th {
    line-height: 1.5rem;
}
.mange-table table td {
    line-height: 2rem;
}
.mange-table .btn{
    padding: 5px 10px;
}
.mange-table .btn a {
    color: white;
}
/* end mange Members  */


/*start backend style by amr */

/*start global style in front and back*/
.nav-item #user-name , 
.fa-angle-down{
    font-size: .85rem;
}
/*end global values in front and back*/

/* start categories page */
    .cat{
        transition: all .2s ease-in-out;
    }
    .cat:hover{
        background-color: rgb(235, 235, 235) !important;
        
    }
    .category-header{
        color: #6a6a6a;
    }
    .categories .description{
        padding: 10px;
        line-height: 1.3rem;
        color: #464646;
    }

/* end categories page */

